.section_title{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
}

.image{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    width: 30%;
}

.image_animal{
    height:56%;
    width: 99%;
}

.image_title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    width: 70%;
}

.first_title{
    width: 75%;
    font-size:24px;
}

.title_main{
    margin-top: 0;
    margin-bottom: 0;
}

.section__paragraph{
    width: 90%;
    font-size: 17px;
}

.first_paragraph{
    margin-top: 1.5rem;
}

.card_post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.post_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:15%;
    border-style: inset;
    padding: 15px;
    margin: 15px;
}

.title_card{
    padding: 0;
    margin:0;
    font-size: 16px;
}

.description_card{
    padding: 0;
    margin:0;
    font-size: 16px;
}

.button_card{
    width: 35%;
    border-radius: 10px;
    margin: 20px;
    &:hover{
        background-color: aqua;
    }
}

.img_back{
    margin-top:2rem;
    width:90px;
    height: 90px;
}