<footer>
  <div class="image_logo">
    <img src="/assets/logo.png" alt="logo" class="logo_footer">
  </div>
  <div class="contact">
    <h2 class="titre_contact">Contact</h2>
    <p><span>Email:</span> naturepicture&#64;gmail.com</p>
    <span> Retrouvez-moi sur les réseaux sociaux:</span>
    <div class="lien_reseaux">
      <img src="/assets/instagram.png" class="image_social"/>
      <img src="/assets/twitter.png" class="image_social"/>
    </div>
  </div>
  <div class="image_mountain">
    <img src="/assets/image_footer.JPG" alt="Montagne" class="image_footer" />
  </div>
</footer>
