<section>
  <h2>NOUVEAU NATUREPICTURE</h2>
  <form [formGroup]="natureForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Titre: <span>(saisir en lettres minuscules: flower, scenery, vegetal ou animal)</span></label>
      <input id="title" name="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" type="text" formControlName="description" rows="5"></textarea>
    </div>
    <div>
      <label for="image">Insérer une image:</label>
      <input id="image" type="file" (change)="convertFileToBase64($event)" (change)="onSizeFile($event)" formControlName="imageUrl" accept=".jpg, .pdf, .jpeg, .svg, .png" size="5000000" name="image" >
      <p>{{ messageFile }}</p>
      <button type="submit" [disabled]="natureForm.invalid">Enregistrer</button>
    </div>
  </form>
</section>
