section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  width: 50%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:2rem;
  margin-bottom:2rem;
  width: 50%;
}

label{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

span{
  font-size: 14px;
}

input{
  margin-bottom: 1rem;
  width: 50%;
  height: 35px;
}

textarea{
  width: 50%;
}


button{
  width:15%;
  background-color: aqua;
  margin-top: 2rem;
  margin-bottom: 5rem;
  color:grey;
}

.buttonActive{
  width:15%;
  background-color: aqua;
  color: black;
  margin-top: 2rem;
  margin-bottom: 5rem;
  transform: translate(1px, 1px);
  box-shadow: lightgray 0 0 5px;
}
