<section>
  <h2>NOUVEAU NATUREPICTURE</h2>
  <form [formGroup]="natureForm" enctype="multipart/form-data">
    <div>
      <label for="title">Titre: <span>(saisir en lettres minuscules: flower, scenery, vegetal ou animal)</span></label>
      <input id="title" name="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" type="text" formControlName="description" rows="5"></textarea>
    </div>
    <div>
      <label for="image">Insérer une image:</label>
      <input id="image" type="file" (change)="convertFileToBase64($event)" formControlName="imageUrl" name="image" 
      accept=".jpg,.png,.pdf,.jpeg" [multiple]="false">
      <button type="submit" [disabled]="natureForm.invalid" (click)="onSubmit()">Enregistrer</button>
    </div>
  </form>
</section>
