<section>
  <h2>NOUVEAU NATUREPICTURE</h2>
  <form [formGroup]="natureForm" enctype="multipart/form-data" method="post" action="">
    <div>
      <label for="title">Titre:</label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" type="text" formControlName="description" rows="5"></textarea>
    </div>
    <div>
      <label for="image">Insérer une image:</label>
      <input id="image" type="file" formControlName="image" accept=".jpg, .pdf, .jpeg, .svg, .png" size="5000000">
      <button type="submit" (click)="onSubmitForm()" [disabled]="natureForm.invalid">Enregistrer</button>
    </div>
  </form>
</section>
