<div class="form-card">
    <h2>NOUVEAU NATUREPICTURE</h2>
    <form [formGroup]="natureForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input id="title" type="text" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" formControlName="description" rows="4">
            </textarea>
        </div>
        <div class="form-group">
            <label for="image">URL de l'image</label>
            <input id="image" type="text" formControlName="image">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()" [disabled]="natureForm.invalid">Enregistrer</button>
        </div>
    </form>
</div>
<div class="picture-nature-card" *ngIf="naturePicturePreview$ | async as pictureNature">
  <h2>{{pictureNature.title | uppercase}}</h2>
  <img [src]="pictureNature.image" [alt]="pictureNature.title">
  <p>{{pictureNature.description}}</p>
  <p>Photographiée et publiée le {{pictureNature.createdAt | date:'dd MMMM yyyy' }}</p>
</div>
