section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.title{
    text-align: center;
} 

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px;
        label{
            margin-top: 15px;
            margin-right: 25px;
        }
        input{
            width: 20%;
            height: 75%;
            margin-top: 15px;
            margin-left: 15px;
        }
        #email{
            margin-left: 4.5rem;
        }
        button{
            width:9%;
            background-color: aqua;
            margin-top:2rem;
            color:grey;
        }
        .buttonActive{
            color: black;
            transform: translate(1px, 1px);
            box-shadow: lightgray 0 0 5px;
        }
        .createdAccount{
            width: 15%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 0;  
        }
    }
}




