.section_title{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}

.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
}

.image_title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    width: 70%;
}

.first_title{
    width: 75%;
    font-size:20px;
}

.title_main{
    margin-top: 0;
    margin-bottom: 0;
}

.section__paragraph{
    width: 90%;
    font-size: 15px;
}

.first_paragraph{
    margin-top: 1.5rem;
}

.card_post{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
}

.post_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    height: 10%;
    border: 1px solid rgb(234, 228, 228);
    box-shadow: 10px 5px 5px rgb(169, 205, 180);
    padding-top: 10px;
    margin: 15px;
}

.title_card{
    padding: 0;
    margin:0;
    font-size: 18px;
}

.description_card{
    padding: 0;
    margin:0;
    font-size: 16px;
}

.button_card{
    width: 25%;
    border-radius: 10px;
    margin: 20px;
    &:hover{
        background-color:rgb(169, 205, 180);
    }
}