<section class="section_titre">
  <div class="title">
    <img src="images/PhotoPageScenery.JPG" alt="mer" class="image_fleur">
    <h1 class="titre_principal">Mémoire des Paysages</h1>
    <p class="section__paragraph">Les déchets marins ont un impact important sur la biodiversité marine
      mais aussi sur les activités s’exerçant en mer et sur terre.
      Comme le démontre le projet RiverSe, soutenu par le ministère,
      en étant ingérés ou en entravant les animaux marins,
      ces déchets peuvent conduire à leur noyade, à leur étouffement ou
      à la perforation de leur tube digestif.
      Ils sont, en outre, la cause d’effets sublétaux, empêchant l'animal d'avoir
      un comportement normal (déplacement, alimentation, etc.) et affectant
      ainsi ses capacités de reproduction et de survie avec de possibles
      répercussions sur la préservation des espèces à plus long terme.
      A l’échelle globale, toutes les espèces marines sont aujourd'hui affectées
      par cette pollution.
      <span class="section__span">Source: <a href="https://www.ecologie.gouv.fr/dechets-marins"> https://www.ecologie.gouv.fr/dechets-marins</a></span>
      <span class="section__span"> Date de publication: 27/06/2023</span>
    </p>
    <br>
    <p class="section__paragraph">L’ensemble de la vie marine, qu’il s’agisse du plancton, des crustacés,
      des oiseaux, des tortues et des mammifères, est exposée à un risque grave de
      toxicité, de troubles du comportement, de famine et de suffocation.
      Les coraux, les mangroves et les herbiers marins sont également étouffés
      par les déchets plastiques qui les empêchent de recevoir l'oxygène et
      la lumière dont ils ont besoin.
      <span class="section__span">Source: Nations Unies ONU Info <a href="https://news.un.org/fr/story/2021/10/1106762">https://news.un.org/fr/story/2021/10/1106762 </a></span>
      <span class="section__span"> Date de publication: 21/10/2021</span>
    </p>
  </div>
</section>
