<section class="section_titre">
  <div class="title">
    <img src="images/PhotoPageFleurs.JPG" alt="Fleurs" class="image_fleur">
    <h1 class="titre_principal">Mémoire des Fleurs</h1>
    <p class="section__paragraph">
      En 2010, selon The Guardian, il existait environ 400 000 types d'espèces de
      plantes à fleurs dans le monde.
      <span class="section__span">Source:<a href=" https://fr.411answers.com"> https://fr.411answers.com.</a></span>
      <br>
      Selon une étude du scientifique américain <strong>Matthew Koski</strong>, chercheur au département de biologie de l’Université
      Clemson de Caroline du Sud, les fleurs changeraient en effet la teneur en pigments de leurs pétales pour se protéger
      du réchauffement climatique et des rayons ultraviolets du soleil.
      Ce phénomène observé par l’équipe de Koski pourrait être un mécanisme de défense de la part des fleurs,
      agressées par les rayons ultraviolets du soleil.
      S’agit-il d’un changement génétique profond chez les fleurs ou d’un changement ponctuel pour s’adapter à une variation climatique momentanée ?
      À l’heure actuelle, les scientifiques planchent sur le sujet…
      <span class="section__span">Source: <a href=" https://www.ouest-france.fr/leditiondusoir">https://www.ouest-france.fr/leditiondusoir</a></span>
      <span class="section__span"> Date de publication: 20/10/2020</span>
    </p>
  </div>
</section>
