<section class="section_title">
  <div class="title">
    <div class="image_title"> 
      <div class="first_title">
        <h1 class="title_main">Mémoire des Fleurs</h1>
      </div>
      <div class="section__paragraph">
          <p class="first_paragraph">
            En 2010, selon The Guardian, il existait environ 400 000 types d'espèces de
            plantes à fleurs dans le monde.
          </p>
          <p><strong>Source:</strong><a href=" https://fr.411answers.com"> https://fr.411answers.com.</a></p>
          <p>
            Selon une étude du scientifique américain <strong>Matthew Koski</strong>, chercheur au département de biologie de l’Université
            Clemson de Caroline du Sud, les fleurs changeraient en effet la teneur en pigments de leurs pétales pour se protéger
            du réchauffement climatique et des rayons ultraviolets du soleil.
            Ce phénomène observé par l’équipe de Koski pourrait être un mécanisme de défense de la part des fleurs,
            agressées par les rayons ultraviolets du soleil.
            S’agit-il d’un changement génétique profond chez les fleurs ou d’un changement ponctuel pour s’adapter à une variation climatique momentanée ?
            À l’heure actuelle, les scientifiques planchent sur le sujet…
          </p>
          <p><strong>Source:</strong><a href=" https://www.ouest-france.fr/leditiondusoir"> https://www.ouest-france.fr/leditiondusoir</a></p>
          <p><strong>Date de publication:</strong> 20/10/2020</p>
      </div>
    </div>
  </div>
</section>
<section class="section__paragraph">
  <div class="card_post">
    <div *ngFor="let item of pictureNature$ |async" class="post_image">
      <h2 class="title_card"> {{item.title | titlecase}}</h2>
      <p class="description_card"><strong>Description: </strong> {{item.description}}</p>
      <span><strong>Date: </strong> {{item.date |  date:'dd/MM/yyyy'}}</span>
      <button class="button_card" (click)="viewPicture(item.id)">Vue</button>
    </div>
  </div>
</section>
