<section class="section_titre">
  <div class="title">
    <img src="images/PhotoPageVegetation.JPG" alt="vegetation" class="image_fleur">
    <h1 class="titre_principal">Mémoire des Végétaux</h1>
    <p class="section__paragraph">Le nombre d'espèces de plantes est difficile à déterminer,
      mais il existerait (en 2015) plus de 400 000 espèces décrites,
      dont la grande majorité sont des plantes à fleurs (369 000 espèces répertoriées),
      sachant que près de deux mille nouvelles espèces sont découvertes chaque année.
      Depuis le début du XXe siècle, trois espèces de plantes disparaissent chaque année,
      principalement victimes de la déforestation. Une plante sur cinq serait menacée
      d'extinction.
      <span class="section__span">Source: <a href="https://fr.wikipedia.org/wiki/Plante">https://fr.wikipedia.org/wiki/Plante</a></span>
    </p>
    <br>
    <p class="section__paragraph">
      La flore et la faune font partie intégrante de la vie humaine.
      Entre l’exploitation des ressources terrestres et maritimes, ainsi que le
      développement du monde, les populations n’ont pas fait attention aux impacts
      qui ont été causés sur la biodiversité et l’écosystème.

      Toutefois, il est important d’en avoir connaissance pour être conscient du
      danger que nous encourons et pour pouvoir apporter des solutions sur le court,
      le moyen ainsi que le long terme.
      Il faut dire que la faune et la flore sont interdépendantes.
      En effet, certaines espèces animales contribuent exclusivement à la
      survie ainsi qu’à la reproduction de certaines plantes et certaines espèces
      végétales aident à la survie de la faune. Autrement dit, l’une ne peut pas
      exister sans l’autre. Bien que la flore sache s’adapter au changement, des impacts
      ont néanmoins été constatés ces dernières années. Les arbustes et arbres rares
      rencontrent, par exemple, des problèmes de survie. De plus, la sècheresse et les
      inondations ne sont pas favorables à leur conservation, ce qui risque
      d’entraîner leur extinction définitive.
      <span class="section__span">Source: <a href="https://www.culture-science-paca.org/changement-climatique/">
                    https://www.culture-science-paca.org/changement-climatique/</a></span>
      <span class="section__span"> Date de publication: 24/02/2021</span>
    </p>

  </div>
</section>
