<div class="landing-block">
  <div class="div_titre_principal">
    <h1 class="titre_principal">N'oublions pas les trésors de la Planète</h1>
  </div>
    <img src="/assets/rose_accueil.jpg" alt="logo">
    <div class="landing-links">
        <button (click)="onContinue()">Continuer vers PictureNature</button>
    </div>
  <div class="premier_paragraphe">
    <h2 class="titre_introduction">Pourquoi ce site?</h2>
    <p> De nombreuses espèces animales et végétales ainsi que de nombreux paysages sont menacés d'extinction
      ou de disparition. Ce phénomène est déjà observé. Ce site est créé par sa fondatrice Johanna Kern qui souhaite
      garder une trace de chaque espèce de fleurs, de végétaux ou d'animaux qu'elle croise. Elle n'est pas scientifique.
      Elle n'a pas de connaissance particulière en la matière mais elle veut faire de ce site une sorte de mémoire
      de ce qui existe et peut-être n'existera plus dans quelques mois, années ou décennies. Sa passion tourne autour du web et du code. Alors, elle
      a choisi ce canal pour partager avec vous ce qu'elle pense être magnifique, pure et précieuse: <span class="span_title">La Nature</span>.
    </p>
  </div>
  <div class="second_paragraphe">
    <h2 class="titre_introduction">Principe et fonctionnement du site</h2>
    <p> Si vous souhaitez contribuer à l'amélioration et à l'enrichissement de ce site. Vous pouvez ajouter des commentaires ou partager vos propres photographies.
      Un seul mot d'ordre: le respect de la planète et des autres utilisateurs. Ce site propose <span>uniquement</span> de mettre à disposition les richesses de la nature.
      Toutes photographies n'observant pas ces dispositions seront supprimées par la fondatrice afin de respecter le droit à l'image et la législation en vigueur.
    </p>
  </div>
  <div class="information">
    <h2 class="titre_encart">Encart</h2>
    <p>Une équipe de chercheurs du Centre d’Ecologie et des Sciences de la Conservation,
      de l'Institut des Sciences de l'Evolution de Montpellier et de l’Institut d'ecologie et des sciences de l'environnement de Paris,
      ont publié, dans la revue Biology Letters, de nouveaux résultats montrant que la flore française est en train de changer
      sous l’effet du réchauffement climatique.
      Les chercheurs ont découvert que l’identité et l’abondance des espèces présentes à un endroit donné a changé depuis 2009 :
      la végétation est composée de plus en plus d’espèces tolérant bien les températures élevées,
      au détriment des espèces préférant les climats plus frais. Selon les scientifiques, ces variations seraient imputables au changement climatique.
    </p>
    <p class="p_date">Date: 11 juillet 2019</p>
    <a target="_blank" href="https://www.inee.cnrs.fr/fr/cnrsinfo/impact-du-changement-climatique-sur-la-flore-francaise-de-nouveaux-resultats-inedits"> Source: site du CNRS </a>
  </div>
</div>
