<section class="section-form">
    <div class="title">
        <h2>Créez un compte pour ajouter une photo</h2>
    </div>
    <form [formGroup]="accountForm" class="account-form">
        <div class="label-input">
            <label for="lastname" class="label">Nom:</label>
            <input id="lastname" type="text" name="lastname" formControlName="lastname" class="input">
        </div>
        <div class="label-input">
            <label for="firstname" class="label">Prénom:</label>
            <input id="firstname" type="text" name="firstname" formControlName="firstname" class="input">
        </div>
        <div class="label-input">
            <label for="birthdate" class="label">Date de naissance:</label>
            <input id="birthdate" type="date" name="birthdate" formControlName="birthdate" class="input">
        </div>
        <div class="label-input">
            <label for="email" class="label">Email:</label>
            <input id="email" type="email" name="email" formControlName="email" class="input">
        </div>
        <div class="label-input">
            <label for="password" class="label">Mot de passe:</label>
            <input id="password" type="password" name="password" formControlName="password" class="input">
        </div>
        <div class="label-input">
            <label for="confirmPassword" class="label-confirmPassword">Confirmer le mot de passe:</label>
            <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword" class="input-confirmPassword">
            
        </div>
        <div class="error-message">
            @if (accountForm.hasError("passwordMismatch")) {
                <p class="error">Les deux mots de passe ne sont pas identiques.</p>
            }

            @if(calculAgeUser(accountForm.get('birthdate')?.value) === false) {
                <p class="error">Vous devez avoir au moins 18 ans pour créer un compte.</p>
            }
        </div>
            
        <div class="button-createAccount">
            <button (click)="onCreateAccount()" [disabled]="accountForm.invalid" [ngClass]="{'buttonActive': accountForm.valid }"> Créer un compte</button>
        </div>
    </form>

</section>
