.section__paragraph{
    width: 100%;
    font-size: 15px;
}

.card_post{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
}

.post_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    height: 10%;
    border: 1px solid rgb(234, 228, 228);
    box-shadow: 5px 5px 5px 5px rgb(169, 205, 180);
    padding-top: 10px;
    margin: 15px 15px 35px 15px;
}

.title_card{
    padding: 0;
    margin:0;
    font-size: 26px;
}

.description_card{
    padding-bottom: 5px;
    margin:0;
    font-size: 20px;
}

.image_card{
    width:80%;
}

.dateCard{
    font-size: 18px;
    padding-bottom: 10px;
}

.button_card{
    width: 25%;
    border-radius: 10px;
    margin: 20px;
    &:hover{
        background-color:rgb(169, 205, 180);
    }
}