<div class="picture-nature-div">
  <div class="picture-nature-card">
    <h2>Visualiser des photos de fleurs</h2>
    <button routerLink="/">Retour</button>
    <img src="/assets/PhotoPageFleurs.JPG"/>
    <button routerLink="/picturenature">View</button>
    <p>Photograhie publiée le le 21 octobre 2024</p>
  </div>

  <div class="picture-nature-card">
    <h2>Visualiser des photos de paysage</h2>
    <button routerLink="/">Retour</button>
    <img src="/assets/PhotoPageScenery.JPG"/>
    <button routerLink="/picturenature">View</button>
    <p>Photograhie publiée le le 21 octobre 2024</p>
  </div>

  <div class="picture-nature-card">
    <h2>Visualiser des photos de la végétation</h2>
    <button routerLink="/">Retour</button>
    <img src="/assets/PhotoPageVegetation.JPG"/>
    <button routerLink="/picturenature">View</button>
    <p>Photograhie publiée le le 21 octobre 2024</p>
  </div>

  <div class="picture-nature-card">
    <h2>Visualiser des photos d'animaux</h2>
    <button routerLink="/">Retour</button>
    <img src="/assets/PhotoPageAnimal.jpg"/>
    <button routerLink="/picturenature">View</button>
    <p>Photograhie publiée le 21 octobre 2024</p>
  </div>
</div>
